{% extends "base.html.twig" %}

{% block body %}

    <p>Pas dans la liste ?</p>
    <p>Ajoutez le !</p>
    <a href="{{ path('app_create_event') }}">Ajoutez un événement</a>

    <p>cherchez un évenement : :</p>

    <form method="GET" action="{{ path('app_event') }}">
        <input type="date" name="start_date" value="{{ app.request.get('start_date') }}">
        <input type="date" name="end_date" value="{{ app.request.get('end_date') }}">
        <button type="submit">Submit</button>
    </form>

    <h1>Liste des événements</h1>

    <ul>
        {% for event in events %}
            <li>
                <strong>Nom :</strong><a href="{{ path('app_show_event', {id: event.id}) }}" > {{ event.name }} </a><br>
                {% if app.user  %}
                    {# TODO rajouter l'id de l'utilisateur qui créé l'event #}
                    {% if event. == app.user.id %}
                        <a href="{{ path('/event/') }}"
                    {% endif %}
                {% endif %}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
