{% extends "base.html.twig" %}

{% block body %}



    <p>Cherchez un évenement : </p>

    <form method="GET" action="{{ path('app_event') }}" class="event_form">
        <p>Du :</p>
        <input type="date" name="start_date" value="{{ app.request.get('start_date') }}">
        <p> Au:</p>
        <input type="date" name="end_date" value="{{ app.request.get('end_date') }}">
        <button type="submit">Submit</button>
    </form><br>

    <h1>Liste des événements</h1>
    <p>Ajoutez un événement <a href="{{ path('app_create_event') }}" ><img id="event_img_add" src="{{ asset('images/plus.png') }}" alt="add event"></a></p>


    <ul class="event_list">
        {% for event in events %}
            <li class="event_item">
                <a class="event_link" href="{{ path('app_show_event', {id: event.id}) }}" >{{ event.name }} </a><br>
            </li>

        {% endfor %}
    </ul>
{% endblock %}
