{% extends "base.html.twig" %}

{% block body %}
    <h1>Liste des événements</h1>

    <ul>
        {% for event in events %}
            <li>
                <strong>ID :</strong> {{ event.id }}<br>
                <strong>Nom :</strong> {{ event.name }}<br>
                <strong>Date :</strong> {{ event.date|date('Y-m-d')}}<br>
                <strong>Artiste :</strong> {{ event.artist }}<br>
                <a href="{{ path('app_delete2_event', {id: event.id}) }}">Supprimer</a>
                <a href="{{ path('app_modify2_event', {id: event.id}) }}">Modifier</a>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
