{% extends "base.html.twig" %}

{% block body %}
    <h1> {{ event.name }}</h1>

    <p class="Individual_event_id"><strong>ID :</strong> {{ event.id }}</p><br>

    <div class="Individual_event_info">
        <div class="Individual_event_section">
            <h3><i class="fas fa-calendar-alt"></i> Date de l'événement</h3>
            <p>{{ event.date|date('d/m/Y') }}</p>
        </div>


        <div class="Individual_event_section">
            <h3><i class="fas fa-user-alt"></i> Artiste</h3>
            {% if event.artist is not null %}
                <p><a href="{{ path('app_show_artist' , {id:event.artist.id}) }}">{{ event.artist.name }}</a></p><br>
            {% else %}
                <p> Pas encore d'artiste</p><br>
            {% endif %}
        </div>

        {% if app.user in event.follower %}
            <button onclick="window.location.href='{{ path('app_unsubscribe_event', {id: event.id}) }}'" class="button unsubscribe-btn">
                <i class="fas fa-user-minus"></i> Se désabonner
            </button>
        {% else %}
            <button onclick="window.location.href='{{ path('app_subscribe_event', {id: event.id}) }}'" class="button subscribe-btn">
                <i class="fas fa-user-plus"></i> S'abonner
            </button>
        {% endif %}

        {% if app.user.id == event.creator.id  %}
            <button class="button_remove" onclick="window.location.href='{{ path('app_delete_event', {id: event.id}) }}'">Supprimer</button>
            <button class="button_modify" onclick="window.location.href='{{ path('app_modify_event', {id: event.id}) }}'">Modifier</button>
        {% endif %}

        <button class="button_back" onclick="window.location.href='{{ path('app_event') }}'">
            <i class="fas fa-arrow-left"></i> Retour
        </button>
    </div>
{% endblock %}
