{% extends "base.html.twig" %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.name, {
            label: 'Nom'
        }) }}

        {{ form_row(form.date,{
            label:'Date'
        }) }}
        {{ form_row(form.artist,{
            label:'Artiste'
        }) }}
        <button type="submit">Modifier l'évènement</button>
    {{ form_end(form) }}
{% endblock %}