{% extends "base.html.twig" %}


{% block body %}

    {% if is_granted("ROLE_ADMIN") %}
        <p>Pas dans la liste ?</p>
        <p>Ajoutez le !</p>
        <a href="{{ path('app_create_artist') }}">Ajoutez un artiste</a>
    {% endif %}

    <p>cherchez un artiste :</p>

    <form method="GET" action="{{ path('app_artist') }}">
        <input type="text" name="search" placeholder="nom" value="{{ app.request.get('search') }}">
        <button type="submit">Search</button>
    </form><br>

    <h1>Liste des artistes</h1>
    <ul>
        {% for artist in artists %}

            <li><a href="{{ path('app_show_artist', {id: artist.id}) }}">{{ artist.name }}</a></li>

        {% endfor %}
    </ul>
{% endblock %}
