{% extends "base.html.twig" %}


{% block body %}

    <p> Cherchez un artiste : </p>

    <form method="GET" action="{{ path('app_artist') }}">
        <input type="text" name="search" placeholder="nom" value="{{ app.request.get('search') }}">
        <button type="submit">Search</button>
    </form><br>

    <h1>Liste des artistes</h1>

    {% if is_granted("ROLE_ADMIN") %}
        <div class="artist_add">
            <p>Ajoutez un artiste <a href="{{ path('app_create_artist') }}" ><img id="artist_img_add" src="{{ asset('images/plus.png') }}" alt="add artist"></a><br></p>
        </div>
    {% endif %}

    <ul class="artist_list">
        {% for artist in artists %}

            <li class="artist_item">
                {% if artist.image %}
                <img class="artist_icon" src="{{ asset('uploads/images/' ~ artist.image) }}" alt="{{ artist.name }}"> {# Image de l'artiste #}
                {% else %}
                    <div class="artist_icon">{{ artist.name|first }}</div>
                {% endif %}
                <a class="artist_link" href="{{ path('app_show_artist', {id: artist.id}) }}">{{ artist.name }}</a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}
