{% extends "base.html.twig" %}

{% block body %}
    {% if artist.image %}
        <img class="Individual_artist_image" src="{{ asset('uploads/images/' ~ artist.image) }}" alt="{{ artist.name }}">
    {% endif %}<br>
    <h1>{{ artist.name }}</h1>

    <p class="Individual_artist_id"><strong>ID :</strong> {{ artist.id }}</p><br>

    <div class="description_section">
        <h2>Description</h2>
        <div class="description_text">
            <p> {{ artist.description }}</p><br>
        </div>
    </div>

    <div class="description_section">
        <h2>Evenement</h2>
        <div >
            {% for event in artist.events %}
                <a href="{{ path('app_show_event', {id: event.id}) }}"> {{ event.name }} </a><br>
            {% endfor %}
        </div>
    </div>

<div class="action_section">

    {% if is_granted("ROLE_ADMIN") %}
    <button class="button button_remove" onclick="window.location.href='{{ path('app_delete_artist', {id: artist.id}) }}'">
        <i class="fas fa-trash-alt"></i> Supprimer
    </button>
    <button class="button button_modify" onclick="window.location.href='{{ path('app_modify_artist', {id: artist.id}) }}'">
        <i class="fas fa-edit"></i> Modifier
    </button>
    {% endif %}

    <button class="button button_back" onclick="window.location.href='{{ path('app_artist') }}'">
        <i class="fas fa-arrow-left"></i> Retour à la liste
    </button>
<div>
{% endblock %}
