{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.image) }}
       <button class="btn">Modifier artiste</button>
    {{ form_end(form) }}
{% endblock %}