{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name,{
            label:'Nom'
        }) }}
        {{ form_row(form.description,{
            label:'Description'
        }) }}
        {{ form_row(form.image,{
            label:'Image'
        }) }}
       <button class="btn">Modifier artiste</button>
    {{ form_end(form) }}
{% endblock %}