<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/artist.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/event.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
{#  {% block stylesheets %}
        {% endblock %}#}


        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header>

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        
        <div id="header-category">
            <a href="{{ path('app_hello') }}">Accueil</a>
            <a href="{{ path('app_artist') }}">Artistes</a>
            <a href="{{ path('app_event') }}">Evenements</a>
            {% if app.user %}
                {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('app_user') }}">Utilisateurs</a>
                {% endif %}
            {% endif %}
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div id="header_connection">
                <a href="/logout">Se déconnecter</a>
            </div>
        {% else %}
            <div id="header_connection">
                <a href="/login">Se connecter</a>
                <a href="/register">S'enregistrer</a>
            </div>
        {% endif %}



    </header></br>
    <div class="container">

        {% block body %}{% endblock %}
    </div>
    </body>
</html>
